<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all" (click)="dontShowPicture()">
        Voice
      </ion-segment-button>
      <ion-segment-button value="favorites" (click)="showPicture()">
        Picture
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button ion-plus-circled icon-only (click)="presentFilter()">
        <ion-icon>+</ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button ion-button
          (click)="transtrans()"
          type="submit"
          color="primary"
          block>
    Translate
  </button>

  <ion-list #scheduleList [hidden]="shownSessions === 0" [hidden]="isPicture === 1">

    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">
<!-- 
      <ion-item-divider sticky>
        <ion-label>
          {{group.time}}
        </ion-label>
      </ion-item-divider> -->

      <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide">

        <button ion-item (click)="check()">
          <h3>{{session.name}}</h3>
          <p>
            {{session.percentage}}%
<!--             {{session.timeStart}} &mdash;
            {{session.timeEnd}}:
            {{session.location}} -->
          </p>
        </button>

        <ion-item-options>
          <button ion-button color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            Favorite
          </button>
          <button ion-button color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')" *ngIf="segment === 'favorites'">
            Remove
          </button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

<!-- Picture Tab -->
  <ion-list #scheduleList [hidden]="shownSessions === 0" [hidden]="isPicture === 0">

      <img src="assets/img/emoji.jpg">

  </ion-list>

</ion-content>
